:root {
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-light: #fff;
  --bs-primary: #80cc28;
  --bs-secondary: #6c757d;
  --bs-success: #4a6fae;
  --bs-info: #0dcaf0;
  --bs-warning: #9e6a03;
  --bs-danger: #dc3545;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .modal-dialog {
    margin: 0.5rem;
  }
}

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}

.footer {
  background-color: var(--bs-gray-light);
}

#accordion .btn{
  text-align: left;
}

.svg-background {
  fill: none;
  padding: 0;
}

th.orderable.asc:after {
  content: "▲";
  font-weight: bold;
}

th.orderable.desc:after {
  content: "▼";
  font-weight: bold;
}

.qfield-div {
  color: var(--bs-gray-light);
  fill: var(--bs-primary);
}

.ok-svg {
  fill: var(--bs-success);
}

.err-svg {
  fill: red;
}

.qfc-header-logo {
  height: 3rem;
  margin-left: 0 rem !important;
}


.navbar a.nav-link {
  color: var(--bs-primary) !important;
}

.nav-pills .show > .nav-link:not(.active) {
  color: var(--bs-primary);
  background-color: inherit;
}

nav {
  border-bottom: 1px solid rgba(128, 204, 40, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01);
}


a.btn-success {
  margin-left: 10px;
  padding: 5px 10px 5px 10px !important;
  background-color: var(--bs-primary);
  border: 0.5px solid var(--bs-primary) !important;
  color: var(--bs-gray-light) !important;
  text-align: center;
  border-radius: 32px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a.btn-success:hover {
  background-color: var(--bs-gray-light);
  border: 0.5px solid var(--bs-primary) !important;
  color: var(--bs-primary) !important;
  border-radius: 32px;
  text-decoration: none !important;
}

a.btn-primary{
  background: none;
  border: none;
  color: var(--bs-primary);
}

a.btn-primary:hover {
  background-color: var(--bs-gray-light);
  border: 0.5px solid var(--bs-primary) !important;
  color: var(--bs-primary) !important;
  border-radius: 32px;
  text-decoration: none !important;
}