/*
COLORS
blue: #4c6dacff
green: #80cc28ff
*/

.hero-welcome-message h1{
     color: white;
     text-shadow: -1px -1px 0 #4c6dac, 1px -1px 0 #4c6dac, -1px 1px 0 #4c6dac, 1px 1px 0 #4c6dac, -1px -1px 5px #4c6dac, 1px 1px 10px #4c6dac;
 }
.logo{
    width: 200px;
}

.hero-welcome-message #title{
    color: #80cc28ff;
    font-size: 9rem;
}

.hero-welcome-message h2{
    color: #4c6dacff;
}

.hero-welcome-message img{
    width: 100%;
    padding-bottom: 230px;
}

#hero-section div.signup-form{
    margin-bottom: 200px;
}

#mc-email{
    margin-bottom: 170px;
}

.section-header a{
    color:#80cc28ff;
}
.section-header a:hover{
    text-decoration: underline;
}

.hero-welcome-message img {
    padding-bottom: 30px;
}

.logo {
    height: 45px;
    width: auto;
}
#mc-form select.form-control{
    height: 3rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.cta button{
    background-color: white;
    color: #4c6dacff ;
}
#mc-error{
    background: #dc3545;
}
#mc-success{
    background: #80cc28ff;
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 75vh;        /* Viewport-relative units */
    width: 100vw;
}