/*
COLORS
blue: #4c6dacff
green: #80cc28ff
*/

.logo{
    width: 200px;
}

.hero-welcome-message h1{
    color: #80cc28ff;
}

.hero-welcome-message h2{
    color: #4c6dacff;
}

.hero-welcome-message img{
    padding-bottom: 230px;
}

.section-header a{
    color:#80cc28ff;
}
.section-header a:hover{
    text-decoration: underline;
}